.group
  .group__name
    Group1
  .group__message
    まだメッセージはありません。
.group
  .group__name
    Group1
  .group__message
    まだメッセージはありません。
.group
  .group__name
    Group1
  .group__message
    まだメッセージはありません。
.group
  .group__name
    Group1
  .group__message
    まだメッセージはありません。
.group
  .group__name
    Group1
  .group__message
    まだメッセージはありません。
