.content__side-content__group-list__group
  .content__side-content__group-list__group__name
    Group1
  .content__side-content__group-list__group__message
    まだメッセージはありません。
.content__side-content__group-list__group
  .content__side-content__group-list__group__name
    Group1
  .content__side-content__group-list__group__message
    まだメッセージはありません。
.content__side-content__group-list__group
  .content__side-content__group-list__group__name
    Group1
  .content__side-content__group-list__group__message
    まだメッセージはありません。
.content__side-content__group-list__group
  .content__side-content__group-list__group__name
    Group1
  .content__side-content__group-list__group__message
    まだメッセージはありません。
