.message
  .message__info
    %h4{class: "message__info__name"}Seo
    %p{class: "message__info__date"}2017/09/07 15:01
  .message__text
    %h3 Hello World!
.message
  .message__info
    %h4{class: "message__info__name"}Seo
    %p{class: "message__info__date"}2017/09/07 15:01
  .message__text
    %h3 Hello World!
.message
  .message__info
    %h4{class: "message__info__name"}Seo
    %p{class: "message__info__date"}2017/09/07 15:01
  .message__text
    %h3 Hello World!
.message
  .message__info
    %h4{class: "message__info__name"}Seo
    %p{class: "message__info__date"}2017/09/07 15:01
  .message__text
    %h3 Hello World!
.message
  .message__info
    %h4{class: "message__info__name"}Seo
    %p{class: "message__info__date"}2017/09/07 15:01
  .message__text
    %h3 Hello World!
.message
  .message__info
    %h4{class: "message__info__name"}Seo
    %p{class: "message__info__date"}2017/09/07 15:01
  .message__text
    %h3 Hello World!
