- @group.messages.each do |message|
  .message
    .message__info
      %h4.message__info__name
        = message.user.username
      %p.message__info__date
        = message.created_at.strftime("%Y-%m-%d %H:%M")
    .message__text
      %h3
        = message.content
        %img{src: message.image}
