.content__right-content__main-content__main-wrapper__message
  .content__right-content__main-content__main-wrapper__message__info
    %h4{class: "content__right-content__main-content__main-wrapper__message-info__name"}Seo
    %p{class: "content__right-content__main-content__main-wrapper__message-info__date"}2017/09/07 15:01
  .content__right-content__main-content__main-wrapper__message__text
    %h3 Hello World!
.content__right-content__main-content__main-wrapper__message
  .content__right-content__main-content__main-wrapper__message__info
    %h4{class: "content__right-content__main-content__main-wrapper__message-info__name"}Seo
    %p{class: "content__right-content__main-content__main-wrapper__message-info__date"}2017/09/07 15:01
  .content__right-content__main-content__main-wrapper__message__text
    %h3 Hello World!
.content__right-content__main-content__main-wrapper__message
  .content__right-content__main-content__main-wrapper__message__info
    %h4{class: "content__right-content__main-content__main-wrapper__message-info__name"}Seo
    %p{class: "content__right-content__main-content__main-wrapper__message-info__date"}2017/09/07 15:01
  .content__right-content__main-content__main-wrapper__message__text
    %h3 Hello World!
.content__right-content__main-content__main-wrapper__message
  .content__right-content__main-content__main-wrapper__message__info
    %h4{class: "content__right-content__main-content__main-wrapper__message-info__name"}Seo
    %p{class: "content__right-content__main-content__main-wrapper__message-info__date"}2017/09/07 15:01
  .content__right-content__main-content__main-wrapper__message__text
    %h3 Hello World!
.content__right-content__main-content__main-wrapper__message
  .content__right-content__main-content__main-wrapper__message__info
    %h4{class: "content__right-content__main-content__main-wrapper__message-info__name"}Seo
    %p{class: "content__right-content__main-content__main-wrapper__message-info__date"}2017/09/07 15:01
  .content__right-content__main-content__main-wrapper__message__text
    %h3 Hello World!
