
.content {
    width: 100%;
}

// 左半分ーーーーーーーーーーーーーーーーーーーーーーーーーーー

.content__side-content{
    float: left;
    width: 300px;
    color: #FFFFFF;
    background-color: $group;

    min-height: 800px;
    &__user-name, &__group-list__group{
        height: 100px;
        padding: 0 20px;
    }
    &__user-name {
        background-color: $user-name;
        font-size: 16px;
        line-height: 100px;
        h2 {
            float: left;
        }
        i {
            float: right;
            padding-left: 5px;
            padding-top: 40px;
            color: white;
        }
    }
    &__group-list{
        height: 730px;
        overflow: scroll;
        &__group {
            background-color: $group;
            padding: 20px 20px 40px;
            &__name{
              font-size: 15px;
              margin-bottom: 5px;
            }
            &__message{
              font-size: 11px;
            }
        }
    }
}

// 右半分ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.content__right-content{
    float: left;
    width: 1000px;
    width: -webkit-calc(100% - 380px);
    width: -moz-calc(100% - 380px);
    width: calc(100% - 380px);
    &__main-content {
        width: 100%;
        background-color: white;
        &__head-wrapper{
            @include clearfix();
            width: 100%;
            padding: 0 40px 10px;
            border-bottom: 1px solid $border;
            &__edit-btn {
                float: right;
                color: $edit-btn;
                line-height: 40px;
                height: 40px;
                margin-top: 28px;
                border: 1px solid $edit-btn;
                padding: 0 20px;
            }
            &__group {
                float: left;
                &__name{
                padding: 35px 0 15px;
                font-size: 20px;
                color: $current-group;
                }
                &__member {
                    font-size: 12px;
                    color: $members;
                }
            }
        }
        &__main-wrapper{
            width: 100%;
            overflow: scroll;
            background-color: rgba(170,170,170,0.05);
            padding: 0 40px;
            max-height: 600px;
        }
    }
}


.message{
    padding: 46px 0 40px;
    &__text {
        font-size: 14px;
        color: $message-text;
        margin-top: 10px;
    }
    &__info {
        @include clearfix();
        line-height: 18px;
        &__name {
            float: left;
            margin-right: 10px;
            font-size: 16px
        }
        &__date {
            float: left;
            font-size: 12px;
        }
    }
}




// 投稿フォーム---------------------------------------------------------------
$form-height: 50px;

.content__right-content__form-wrapper {
    position: fixed;
    bottom: 0;
    background-color: $form;
    width: 100%;
    height: 90px;
    &__text {
        margin: 20px 40px;
        height: $form-height;
        line-height: 50px;
        width: 700px;
        width: -webkit-calc(100% - 380px);
        width: -moz-calc(100% - 380px);
        width: calc(100% - 380px);
        input {
            float: left;
            height: $form-height;
            border: none;
            width: 700px;
            width: -webkit-calc(100% - 150px);
            width: -moz-calc(100% - 150px);
            width: calc(100% - 150px);
        }
        span {
            float: left;
            line-height: $form-height;
            width: 50px;
            text-align: center;
            padding-right: 10px;
            margin-right: 15px;
            background-color: white;
        }
        p {
            float: left;
            width: 60px;
            text-align: center;
            line-height: $form-height;
            color: white;
            background-color: $send-btn;
            border: 1px solid $send-btn;
        }
    }
}
